body{
    color:rgb(218, 187, 49) ;
    text-align: center;
    font-family: Arial ;
    font-size: 20px ;
    padding: 0;
    margin: 20 ;
}

#Cabecera 
{
    background-color: rgb(6, 6, 7);
    color: brown;
    margin: 0;
    padding:  0.5;


}

#Container
{
    width: 80%;
    padding: 1em ;
    border: 3px solid ;
    margin : 2 auto;
}

#Container h1
{
font-size: 90px;
}